@import 'configuration';

html {
  // Required for the footer, see https://stackoverflow.com/a/23442814
  min-height: 100%;
  position: relative;
}

body {
  background-color: $bg-color-lighter;
  color: $fg-color-normal;
  font-family: sans-serif;
  margin-bottom: $footer-height; // Required for the footer, see https://stackoverflow.com/a/23442814
}

a {
  cursor: pointer;
  text-decoration: none;
}

a,
a:visited,
a:active {
  color: $fg-color-normal;
}

::selection {
  background: $bg-color-lighter;
}

svg {
  path {
    fill: $fg-color-normal;
    stroke: $fg-color-normal;
  }
}

header {
  background-color: $bg-color-header;
  box-shadow: 0 5px 5px 0 $shadow-color;
  font-size: 1.3em;
  min-height: $header-height;
  position: relative;
  top: 0;
  width: 100%;

  .title,
  .menu .entry {
    padding: $header-height / 3.5 $header-height / 3.5 0;
  }

  .menu {
    display: flex;
    position: relative;

    .entry {
      cursor: pointer;
      flex-grow: 1;
      height: $header-height;
      max-width: 300px;
      text-align: center;
    }

    .entry:not(.selected) {
      opacity: .6;
    }

    .entry:hover,
    .entry.active {
      opacity: 1;
    }

    @media (max-width: $small-screen-max-width) {
      min-width: 100%;
    }
  }

  .icons {
    position: absolute;
    right: $header-height / 3.5;
    top: $header-height / 3.5;

    .icon {
      opacity: .6;
    }

    .icon:hover {
      opacity: 1;
    }

    @media screen and (max-width: 200px) {
      display: none;
    }
  }
}

footer {
  background-color: $bg-color-header;
  bottom: 0;
  box-shadow: 0 0 5px 5px $shadow-color;
  font-size: .8em;
  min-height: $footer-height;
  position: absolute;
  width: 100%;

  div {
    opacity: .6;
    padding: $footer-height / 4;
  }
}

.content {
  .page {
    height: auto;
    padding: $content-spacing;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$content-spacing;
  margin-top: -$content-spacing;

  .card {
    background-color: $bg-color-darker;
    box-shadow: -5px 5px 5px 0 $shadow-color;
    flex-grow: 1;
    margin-left: $content-spacing;
    margin-top: $content-spacing;
    min-height: 250px;
    padding: $content-spacing;
    position: relative;
    width: 440px;

    .tag {
      opacity: .6;
      position: absolute;
      right: $content-spacing;
      text-transform: uppercase;
      top: $content-spacing;
    }

    .tag:hover {
      cursor: default;
      opacity: 1;
    }

    &.full {
      flex-grow: 2;
      width: 100%;
    }

    a {
      color: $fg-color-link;
      text-decoration: underline;
    }

    a:visited,
    a:active,
    a:hover {
      color: $fg-color-normal;
    }

    h1 {
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 10px;
      margin-top: 20px;
      text-transform: capitalize;
    }
  }
}