$fg-color-normal: #fff;
$fg-color-link: #999;
$bg-color1: #444448;
$bg-color2: #272727;
//$bg-color2     : #222426;
$bg-color3: #222;
$shadow-color: rgba(#000, .26);

$small-screen-max-width: 720px;

$header-height: 64px;

$content-spacing: 64px / 2;
