$fg-color-normal: #fff;
$fg-color-link: #999;
$bg-color-lighter: #444448;
$bg-color-darker: #272727;
$bg-color-header: #222;
$shadow-color: rgba(#000, .26);

$status-color-ok: #065535;
$status-color-error: #800000;
$status-color-warning: #996000;

$header-height: 64px;
$footer-height: $header-height / 2;

$content-spacing: 64px / 2;
