$fg-color-normal: #fff;
$fg-color-link: #999;
$bg-color-lighter: #444448;
$bg-color-darker: #272727;
$bg-color-header: #222;
$shadow-color: rgba(#000, .26);

$small-screen-max-width: 720px;

$header-height: 64px;

$content-spacing: 64px / 2;
