.status-svg {
  // "Loading graph…" image
  background: url('data:image/svg+xml;charset=UTF-8,<svg width="200" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><text y="30" x="1" fill="white" font-size="24" font-family="sans-serif">Loading graph…</text></svg>') no-repeat center top;

  @media screen and (max-width: 200px) {
    background: none;
  }

  div {
    background: url('/status-1940x1060.svg') no-repeat center top;
    background-size: contain;
    height: 1060px;

    @media screen and (max-width: 2000px) {
      background-image: url('/status-1700x700.svg');
      height: 700px;
    }

    @media screen and (max-width: 1700px) {
      background-image: url('/status-1380x520.svg');
      height: 520px;
    }

    @media screen and (max-width: 1400px) {
      background-image: url('/status-1145x385.svg');
      height: 388px;
    }

    @media screen and (max-width: 1000px) {
      background-image: url('/status-780x385.svg');
      height: 388px;
    }

    @media screen and (max-width: 800px) {
      background-image: url('/status-500x335.svg');
      height: 337px;
    }

    @media screen and (max-width: 600px) {
      background-image: url('/status-400x225.svg');
      height: 225px;
    }

    @media screen and (max-width: 400px) {
      background-image: url('/status-200x115.svg');
      height: 112px;
    }

    @media screen and (max-width: 200px) {
      background: none;
      height: auto;

      &::after {
        content: 'Please use a wider screen.';
      }
    }
  }
}