.status-svg {
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="40" viewBox="0 0 50 50"><path fill="white" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform></path></svg>') no-repeat center top;

  @media screen and (max-width: 200px) {
    background: none;
  }

  //noinspection CssUnknownTarget
  div {
    background: url('/status-1940x1000.svg') no-repeat center top;
    background-size: contain;
    height: 1000px;

    $sizes: (2000 1700 650)
            (1700 1380 450)
            (1400 1145 350)
            (1000  780 350)
            (800   580 335)
            (600   380 200)
            (400   200 115);

    @each $i in $sizes {
      @media screen and (max-width: #{nth($i, 1)}px) {
        background-image: url('/status-#{nth($i, 2)}x#{nth($i, 3)}.svg');
        height: #{nth($i, 3)}px;
      }
    }

    @media screen and (max-width: 200px) {
      background: none;
      height: auto;

      &::after {
        content: 'Please use a wider screen.';
      }
    }
  }
}
