@import 'configuration';

svg {
  font-family: sans-serif;
}

.bg {
  fill: $bg-color-darker;
  stroke: $fg-color-normal;
  stroke-width: 0;
}

.axis {
  &.stroke {
    fill: none;
    stroke: $bg-color-lighter;
    stroke-width: 1;
  }

  &.text {
    fill: $fg-color-normal;
    font-size: 12.8px;
    stroke: none;
    stroke-width: 0;
  }
}

.series {
  &.stroke {
    fill: none;
    stroke-width: 1;
  }

  &.fill {
    stroke: none;
    stroke-width: 0;
  }
}

.legend {
  stroke-width: 1;

  &.text {
    fill: $fg-color-normal;
    font-size: 10.2px;
    stroke: none;
    stroke-width: 0;
  }

  &.stroke {
    fill: none;

    &.fill {
      fill: $bg-color-darker;
      stroke: $bg-color-lighter;
    }
  }
}

.stroke {
  &.ok {
    stroke: $status-color-ok;
  }

  &.warning {
    stroke: $status-color-warning;
  }

  &.error {
    stroke: $status-color-error;
  }
}

.fill {
  $transparentize-value: .7;
  &.ok {
    fill: transparentize($status-color-ok, $transparentize-value);
  }

  &.warning {
    fill: transparentize($status-color-warning, $transparentize-value);
  }

  &.error {
    fill: transparentize($status-color-error, $transparentize-value);
  }
}