#variables:
# CODEGOV_TOKEN    (project)
# ANSIBLE_SSH_KEY  (project) base64 encoded

stages:
  - generate
  - build
  - deploy
  - acceptance
  - restore

sass:
  stage: generate
  image:
    name: codycraven/sassc:latest
    entrypoint: [""]
  script:
    - sassc -p 0 -t compressed sass/main.scss sass/main.css
    - sassc -p 0 -t compressed sass/chart.scss sass/chart.css
    - sassc -p 0 -t compressed sass/status.scss sass/status.css
  artifacts:
    paths:
      - sass/*.css

buildAndTest:
  stage: build
  image: golang:latest
  variables:
    CGO_ENABLED: 0
  script:
    - test -f sass/main.css
    - test -f sass/chart.css
    - test -f sass/status.css
    - export GOPATH="$PWD/.go"
    - go generate --run "fileb0x"
    - go build -ldflags "-X main.VERSION=$(git describe --tags) -X main.BUILD_DATE=$(date --iso-8601=seconds) -X main.GIN_MODE=release" -o bin/hashworksNET *.go
    - go test --covermode=atomic --coverprofile=coverage.out ./server
    - test -f coverage.out
    - curl -sL https://codecov.io/bash > codecov
    - bash codecov -f coverage.out -t "$CODEGOV_TOKEN"
    - ./bin/hashworksNET --version
  artifacts:
    paths:
      - coverage.out
      - bin/hashworksNET
  cache:
    key: go
    paths:
      - .go

.ansible: # Template
  image:
    name: mullnerz/ansible-playbook:latest
    entrypoint: [""]
  variables:
    ANSIBLE_HOST_KEY_CHECKING: 'false'
  before_script:
    - echo "${ANSIBLE_SSH_KEY}" | base64 -d > ansible.key
    - chmod 0600 ansible.key
  only:
    - master
    - tags

deploy:
  stage: deploy
  extends: .ansible
  script:
    - ansible-playbook --private-key=ansible.key -i deployment/inventories/staging deployment/deploy.yml

selenium:
  stage: acceptance
  image: golang
  variables:
    HUB_HOST: "standalone-chrome"
  services:
    - selenium/standalone-chrome:latest
  script:
    - cd acception
    - go test . --hub="${HUB_HOST}:4444" --url="https://hashworks.net/" --htmlPath acceptionTest.html --screenshotPath acceptionTest.png
  when: delayed
  start_in: 10 seconds
  only:
    - master
    - tags
  artifacts:
    paths:
      - acceptionTest.html
      - acceptionTest.png

restore:
  stage: restore
  extends: .ansible
  script:
    - test -f acceptionTest.html || exit 0
    - ansible-playbook --private-key=ansible.key -i deployment/inventories/staging deployment/restore.yml
  when: on_failure
