[Unit]
Description=hashworks.net Server
ConditionFileIsExecutable=%h/bin/hashworksNET

[Service]
EnvironmentFile=%h/server.conf
ExecStart=%h/bin/hashworksNET

ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=yes
NoNewPrivileges=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes

Restart=always
RestartSec=3

[Install]
WantedBy=default.target
