{{define "index"}}
{{template "header" . }}
<div class="page">
	<section class="cards">
		<article class="card full">
			<h3>Contact</h3>
			<!--<div class="tag">tag</div>-->
			<p>You can contact me by mail using <a href="mailto:mail@hashworks.net">mail@hashworks.net</a>.</p>
			<p>My PGP public key is available <a href="/static/pgp_public_key.asc">here</a>.</p>
			<br/>
			<p>Additionally you can find me as `hashworks` on the <a href="https://freenode.net/" rel="nofollow" target="_blank">freenode irc network</a>.</p>
		</article>
	</section>
</div>
{{template "footer"}}
{{end}}